{:meta
 {:version "0.2.0",
  :system "calendar-availability",
  :generated-at "2025-11-26T18:13:20.628509900Z"},
 :entities
 {:component/db
  {:identity
   [:domain/users :semantic-namespace/component :tier/foundation],
   :context nil,
   :response nil,
   :deps #{},
   :fields nil},
  :component/gcal-client
  {:identity
   [:domain/google
    :integration/external
    :semantic-namespace/component
    :tier/foundation],
   :context nil,
   :response nil,
   :deps #{:component/google-oauth},
   :fields nil},
  :component/google-oauth
  {:identity
   [:domain/google
    :integration/external
    :protocol/oauth
    :semantic-namespace/component
    :tier/foundation],
   :context nil,
   :response nil,
   :deps #{},
   :fields nil},
  :endpoint/query-availability
  {:identity
   [:domain/scheduling
    :semantic-namespace/endpoint
    :semantic-namespace/function
    :tier/api],
   :context [:query/date :query/language],
   :response [:availability/users],
   :deps
   #{:fn/check-user-availability
     :fn/refresh-oauth-token
     :fn/collect-available-users
     :fn/find-users-by-language},
   :fields nil},
  :fn/check-user-availability
  {:identity
   [:domain/scheduling
    :integration/external
    :semantic-namespace/function
    :tier/service],
   :context [:query/date :oauth/access-token],
   :response [:scheduling/available?],
   :deps #{:component/gcal-client},
   :fields nil},
  :fn/collect-available-users
  {:identity
   [:domain/scheduling
    :effect/pure
    :semantic-namespace/function
    :tier/service],
   :context [:query/date :query/language :user/email],
   :response [:availability/users],
   :deps #{},
   :fields nil},
  :fn/find-users-by-language
  {:identity
   [:domain/users :semantic-namespace/function :tier/service],
   :context [:query/language],
   :response [:user/email :user/gcal-refresh-token],
   :deps #{:component/db},
   :fields nil},
  :fn/refresh-oauth-token
  {:identity
   [:domain/google
    :integration/external
    :protocol/oauth
    :semantic-namespace/function
    :tier/service],
   :context [:user/gcal-refresh-token],
   :response [:oauth/access-token],
   :deps #{:component/google-oauth},
   :fields nil},
  :schema/availability
  {:identity [:domain/scheduling :semantic-namespace/data-schema],
   :context nil,
   :response nil,
   :deps nil,
   :fields [:availability/users]},
  :schema/users
  {:identity [:domain/users :semantic-namespace/data-schema],
   :context nil,
   :response nil,
   :deps nil,
   :fields
   [:user/id :user/email :user/language :user/gcal-refresh-token]}}}
